
version: "2.2"
services:
  remote_ritm_fixes:
    shm_size: '8gb'
    runtime: nvidia
    build:
      context: .
      args:
        IMAGE: supervisely/base-py-sdk:6.1.97
    ports:
      - "9900:22"
    volumes:
      - "./data:/data"
