<div>

    <div>
        <el-radio-group v-model="state.modelMode">
            <el-radio-button label="pretrained">Pretrained</el-radio-button>
            <el-radio-button label="custom">Custom</el-radio-button>
        </el-radio-group>
    </div>

    <sly-field v-show="state.modelMode === 'custom'"
               title="Model"
               description="Path to custom weights in Team Files">
        <el-input v-model="state.weightsPath"
                  placeholder="Path to .pth file in Team Files"></el-input>
    </sly-field>

    <sly-field v-show="state.modelMode === 'pretrained'"
               title="Model"
               description="Select provided pretrained models with different backbones for interactive segmentation.">
        <el-select v-model="state.model">
            <el-option key="0" label="HRNet18 IT-M (SDB)" value="0"></el-option>
            <el-option key="1" label="HRNet18 (COCO+LVIS)" value="1"></el-option>
            <el-option key="2" label="HRNet18s IT-M (COCO+LVIS)" value="2"></el-option>
            <el-option key="3" label="HRNet18 IT-M (COCO+LVIS)" value="3"></el-option>
            <el-option key="4" label="HRNet32 IT-M (COCO+LVIS)" value="4"></el-option>
        </el-select>
    </sly-field>

    <sly-field title="Device"
               description="Deploy app on selected device">
        <el-select v-model="state.device">
            <el-option key="cpu" label="CPU" value="cpu"></el-option>
            <el-option key="cuda" label="GPU" value="cuda"></el-option>
        </el-select>
    </sly-field>


    <sly-field title="Probability Threshold"
               description="Threshold for binarization of probability map. Recommended value is 0.5">
        <el-slider v-model="state.prob_thresh" :min="0" :max="1" :step="0.1" show-input
                   style="flex:1; max-width: 99%; margin-left: 15px;"></el-slider>
    </sly-field>

    <sly-field title="BRS Mode"
               description="Backpropagating Refinement for Interactive Segmentation (Multi-stage models support only NoBRS mode)">
        <el-select v-model="state.brs_mode">
            <el-option key="0" label="NoBRS" value="0"></el-option>
            <el-option key="1" label="RGB-BRS" value="1"></el-option>
            <el-option key="2" label="DistMap-BRS" value="2"></el-option>
            <el-option key="3" label="f-BRS-A" value="3"></el-option>
            <el-option key="4" label="f-BRS-B" value="4"></el-option>
            <el-option key="5" label="f-BRS-C" value="5"></el-option>
        </el-select>
    </sly-field>

    <sly-field v-show="state.brs_mode !== '0'" title="Network Clicks"
               description="The number of first clicks that are included in the network's input. Subsequent clicks are processed only using BRS (NoBRS ignores this option)">
        <el-input-number v-show="!state.net_clicks_unlimited" v-model="state.net_clicks_limit"
                         :min="1"></el-input-number>
        <el-checkbox class="ml10" v-model="state.net_clicks_unlimited">Unlimited</el-checkbox>
    </sly-field>

    <sly-field v-show="state.brs_mode !== '0'" title="L-BFGS max iterations"
               description="The maximum number of function evaluation for each step of optimization in BRS (increase for better accuracy and longer computational time for each click)">
        <el-input-number v-model="state.lbfgs_max_iters" :min="1"></el-input-number>
    </sly-field>

</div>